@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: Montserrat;
    color: #272727;
    background-color: #d4d4d4;
  }
  #__next {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
